body {
  font-family: Arial;
  background: #f7f7f7;
  padding: 20px;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.calculator-box {
    display: flex;
    max-width: 900px;
    margin: auto;
}

.range-value {
  position: absolute;
  transform: translateX(-50%);
  padding: 4px 8px;
  background: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  top: 10px; /* adjust above slider */
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.mb-20{
  margin-bottom: 20px;
}

.range-wrap{
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.justify-between{
  justify-content: space-between;
}

.d-flex{
  display: flex;
}
input[type="range"] {
  cursor: pointer;
}

.cal-label {
    font: 700 20px "Poppins", sans-serif;
    display: flex;
    align-items: center;
}

span.sub-label {
    font: 400 13px "Poppins", sans-serif;
    padding-left: 20px;
    color: gray;
}

select.cal-select {
    min-height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    text-indent: 10px;
    background: #cfe4f2;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.direction-column {
  flex-direction: column;
}


.form-section {
    border: 2px solid #1a7fc3;
    height: 100%;
    background-color: #cfe4f2;
}

.rounded-20{
    border-radius: 20px;
}

.gap-30{
    gap: 30px;
}

.gap-40{
    gap: 40px;
}

.flex-grow{
    flex-grow: 1;
}
.form-field{
  min-height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    text-indent: 10px;
    background: #bad9ed;
    border: 1px solid #1a7fc3;
    padding: 8px
}

.align-center{
  align-items: center;
}

.btn-submit {
    width: 200px;
    padding: 15px;
    background-color: #1a7fc3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.inner-field {
    height: 50px;
    background: #a5d0eb;
    border-radius: 10px;
}

.gap-10{
    gap: 10px;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.33%;
}

/* Default Override */
.styled-range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: green;
}

/* Track */
.styled-range::-webkit-slider-runnable-track {
  height: 10px;
  background: #b8d7ec;        /* Track color */
  border-radius: 0px;
}
.styled-range::-moz-range-track {
  height: 10px;
  background: #b8d7ec;
  border-radius: 0px;
}

/* Filled portion (Firefox only) */
.styled-range::-moz-range-progress {
  height: 10px;
  background: #2563eb;        /* Active color */
  border-radius: 0px;
}

/* Thumb */
.styled-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 12px;
  background: #2563eb;        /* Thumb color */
  border-radius: 0px;
  cursor: pointer;
  margin-top: -4px;           /* Align thumb with track */
}
.styled-range::-moz-range-thumb {
  height: 18px;
  width: 12px;
  background: #2563eb;
  border-radius: 0px;
  cursor: pointer;
}
