body {
  font-family: Arial;
  background: #f7f7f7;
  padding: 20px;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.calculator-box {
    display: flex;
    max-width: 1100px;
    margin: auto;
    align-items: flex-start;
}

.range-value {
  position: absolute;
  transform: translateX(-50%);
  padding: 4px 8px;
  background: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  top: 10px; /* adjust above slider */
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.mb-20{
  margin-bottom: 20px;
}

.range-wrap{
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.justify-between{
  justify-content: space-between;
}

.d-flex{
  display: flex;
}
input[type="range"] {
  cursor: pointer;
}

.cal-label {
    font: 700 20px "Poppins", sans-serif;
    display: flex;
    align-items: center;
}

span.sub-label {
    font: 400 13px "Poppins", sans-serif;
    padding-left: 20px;
    color: gray;
}

select.cal-select {
    min-height: 50px !important;
    margin-top: 10px !important;
    border-radius: 10px !important;
    text-indent: 10px !important;
    background: #cfe4f2 !important;
    border: 1px solid #1a7fc3 !important;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.rounded-30 {
  border-radius: 30px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.direction-column {
  flex-direction: column;
}


.form-section {
    border: 2px solid #1a7fc3;
    height: 100%;
    background-color: #cfe4f2;
}

.rounded-20{
    border-radius: 20px;
}

.gap-30{
    gap: 30px;
}

.gap-40{
    gap: 40px;
}

.flex-grow{
    flex-grow: 1;
}
.form-field{
  min-height: 50px;
    margin-top: 10px;
    border-radius: 10px !important;
    text-indent: 10px !important;
    background: #bad9ed !important;
    border: 1px solid #1a7fc3 !important;
    padding: 8px !important;
}

p.form-warnings img {
    width: 18px;
    height: 18px !important;
    transform: translateY(2px);
}

p.form-warnings {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
    padding: 5px 20px;
    margin-bottom: 10px;
    border: 1px solid #ff2147;
    border-radius: 10px;
    background: #ff698257;
    color: #ff2147;
    font: 500 14px/1.8 'Raleway', sans-serif;

}

.mt-10{
  margin-top: 10px;
  }

.align-center{
  align-items: center;
}

.btn-submit {
    width: 200px;
    padding: 15px;
    background-color: #1a7fc3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.inner-field {
    height: 50px;
    background: #a5d0eb;
    border-radius: 10px;
}

.gap-10{
    gap: 10px;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.33%;
}

/* .summary-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px 10px;
} */

span.item-value {
    background: rgb(207 228 242);
    border-radius: 5px;
    padding: 4px 10px;
}

b.item-key {
    margin-right: 10px;
}

.summary-grid{
  display: flex;
  flex-wrap: wrap;
}

.summary-item {
    min-height: 45px;
    padding: 12px 15px;
    border: 1px solid #1a7fc3;
    background: #bad9ed;
    border-radius: 10px;
    flex-grow: 1;
    margin: 0 8px 5px 0;
}

/* Default Override */
.styled-range {
  /* -webkit-appearance: none; */
  width: 100%;
  height: 10px;
}


