body {
  font-family: Arial;
  background: #f7f7f7;
  padding: 20px;
}

.calculator-box {
    display: flex;
    max-width: 800px;
    margin: auto;
}

.range-value {
  position: absolute;
  transform: translateX(-50%);
  padding: 4px 8px;
  background: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  top: 10px; /* adjust above slider */
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.mb-20{
  margin-bottom: 20px;
}

.range-wrap{
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.justify-between{
  justify-content: space-between;
}

.d-flex{
  display: flex;
}
input[type="range"] {
  cursor: pointer;
}

.cal-label {
    font: 700 20px "Poppins";
    display: flex;
    align-items: center;
}

span.sub-label {
    font: 400 13px "Poppins";
    padding-left: 20px;
    color: gray;
}

select.cal-select {
    min-height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    text-indent: 10px;
    background: #cfe4f2;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.direction-column {
  flex-direction: column;
}


.form-section {
    border: 2px solid blue;
    height: 100%;
}

.rounded-20{
    border-radius: 20px;
}

.gap-30{
    gap: 30px;
}

.gap-40{
    gap: 40px;
}

.flex-grow{
    flex-grow: 1;
}
.form-field{
  min-height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    text-indent: 10px;
    background: #cfe4f2;
    border: 1px solid blue
}

.align-center{
  align-items: center;
}